/* .slider-group.inverse {
  border-left: 3px solid #ff4444;
  padding-left: 8px;
}

.slider.inverse::-webkit-slider-thumb {
  background: #ff4444;
}

.slider.inverse::-moz-range-thumb {
  background: #ff4444;
} */